 .footer-container {
     background-color: #343a40;
     color: #ffffff;
     padding: 20px;
     text-align: center;
     display: flex;
     justify-content: space-around;
     align-items: center;
     flex-wrap: wrap;
 }

 .footer-lead {
     font-size: 1.2em;
     font-weight: bold;
     margin: 0;
 }

 .footer-text {
     font-size: 0.9em;
     margin: 0;
 }

 .footer-container div {
     margin: 10px;
 }